<%= provide(:form_title, 'Sign up') %>
<%= provide(:button_text, 'Sign up') %>
<div class="form create-form column">
  <%= render  "form" %>
</div>
<div class="form-secondary-action-section">
    <%= link_to  "Sign in", login_path %>
  </div>