<div class="upcoming_events">
  <h1>Upcoming Events</h1>
  <% @upcoming_events.each do |event| %>
    <div class="upcoming-event event">
      <%= render event %>
    </div>
  <% end %>
</div>
<div class="past-events">
  <h1>Past Events</h1>
  <% @past_events.each do |event| %>
    <div class="past-event">
      <%= render event %>
    </div>
  <% end %>
</div>
<% if current_user %>
<div class="owned-events">
    <h1>My Events</h1>
    <% @owned_events.each do |event| %>
      <div class="ownder_event event">
        <%= render  event %>
      </div>
    <% end %>
  </div>
<% end %>