<div class="upcoming-header header">

</div>
<div class="upcoming_events events-section">
    <h1 class="section-header">Upcoming Events</h1>
    <% if @upcoming_events.any? %>
      <% @upcoming_events.each do |event| %>
        <div class="upcoming-event event">
          <% unless current_user.is_planner?(event) %>
          <div class=" event row">
              <div style="background-image: url(<%= url_for(event.cover_image)%>)" class="event-card-image"> 

                </div>
                  
                <div class="event-card-right column">
                 <%= render  "event_card", event: event %>
                </div>
          </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
        <p class="empty-section-text">You have no upcoming events.</p>
    <% end %>
  </div>